/* Brand Colors */
:root {
    --accent-color: #FFFEE6;
    --soundcloud: #FF7700;
    --youtube: #FF0000;
    --tiktok: #000000;
    --insta: #E1306C;
    --bandcamp: #629AA9;
}

/* Metallic Background and Initialize Styling of the Body */
body {
    margin: 0;
    width: 100%;
    height: calc(100vh - (50vh - 375px));
    border: none;
    outline: none;
    background: linear-gradient(
      60deg,
      #C35D7C 5%,
      #D78CA3 15%,
      #CA6C88 30%,
      #D17C95 50%,
      #CA6C88 70%,
      #D78CA3 80%,
      #C35D7C 95%
    );
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;

    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

/* Scrollbar Changes for Certain Browsers */
body::-webkit-scrollbar {
    display: none;
}

/* Links Styling and Hover */
#email-link {
  background-image: url("mail_email_icon.svg");
  background-size: cover;
}

#email-link:hover {
  background-color: #C35D7C;
}

#tiktok-social {
  background-image: url("tiktok-square.svg");
  background-size: cover;
}

#tiktok-social:hover {
  background-color: var(--tiktok);
}

#insta-social {
  background-image: url("instagram-square.svg");
  background-size: cover;
}

#insta-social:hover {
  background-color: var(--insta);
}

#soundcloud-social {
  background-image: url("soundcloud-square.svg");
  background-size: cover;
}

#soundcloud-social:hover {
  background-color: var(--soundcloud);
}

#youtube-social {
  background-image: url("youtube-square.svg");
  background-size: cover;
}

#youtube-social:hover {
  background-color: var(--youtube);
}

#bandcamp-social {
  background-image: url("bandcamp-svgrepo-com.svg");
  background-size: cover;
}

#bandcamp-social:hover {
  background-color: var(--bandcamp);
}

@media (max-width: 1460px) {
  body{
    height: calc(100vh - 25px);
    margin: 0;
  }
}

